<section class="related section bg-box" id="epcl-related-stories">
    <h3 class="title medium bordered absolute">Related Articles</h3>
    <div class="row">
        <% let relatedpostNumber = 1; %>

        <% relatedPosts.forEach(relatedPost => { %>
            <article class="item grid-50 tablet-grid-50 mobile-grid-100 epcl-flex primary-cat-3 post-12 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">
                <a href="/article/<%= relatedPost._id %>"
                    class="thumb epcl-loader shadow-effect"> 
                    <span class="screen-reader-text"><%= encodeURIComponent(relatedPost.title) %></span> 
                    <span class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/top-view-smartphone-with-keyboard-charger_23-2149404178-300x200.jpg"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==&quot;);">
                    </span>
                    <span class="epcl-number"><%= relatedpostNumber %></span>
                </a>
                <div class="info">
                    <h4 class="title small underline-effect">
                        <a href="/article/<%= relatedPost._id %>"><%= relatedPost.title %></a>
                    </h4>
                    <div class="meta small">
                        <time datetime="<%= new Date(relatedPost.createdAt).toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" }) %>">
                            <%= new Date(relatedPost.createdAt).toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" }) %>
                        </time>
                        <div class="min-read meta-info hide-on-desktop-sm"><%= estimatedReadTime %> Min Read</div>
                    </div>
                </div>
            </article>
        <% relatedpostNumber++; %>
        <% }); %>

        <div class="clear"></div>
    </div>
</section>
